/* ========= Fonts ========= */
.work-sans-robot {
  font-family: "Work Sans", sans-serif;
}

/* ========= Shared ========= */
.text-light-gray {
  color: #8987A1;
}
.normal-font-color {
  color: #252432;
}
.common-color {
  color: #E95A08;
}

/* ========= Navbar ========= */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  flex-wrap: wrap;
}

nav img {
  width: 130px;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

/* ========= Banner ========= */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  gap: 40px;
}

.banner-left {
    padding-bottom: 0px;
    padding-left: 50px;
  flex: 1;
  
}

.banner-left h2 {
  font-size: 32px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 20px;
}

.banner-left span {
  color: #E95A08;
}

.banner-left p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
}

.banner-right {
  flex: 1;
  text-align: center;
}

.banner-right img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ========= main collection ========= */

.collection h2 span{
    color: #E95A08;
}

.plants-collection{
    text-align: center;
}

.sell-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .product-card {
    
    padding: 10px;
    text-align: center;
    
  }

  .product-card img {
    max-width: calc(100% - 20%);
    height: auto;
    border-radius: 5px;
  }

  .price {
    margin-top: 10px;
    font-weight: bold;
    color: #111111;
  }

  .add-to-cart {
    width:200px ;
    margin-top: 10px;
    background-color: #ff7700;
    color: white;
    border: none;
    padding: 8px ;
    
    cursor: pointer;
  }



  .add-to-cart:hover {
    background-color: #ff8000;
  }

/* ========= Responsive (Mobile) ========= */
@media (max-width: 567px) {
  /* Navbar */
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  nav img {
    width: 110px;
  }

  nav ul {
    display: flex;
    gap: 0;
  }

  nav ul li {
    display: none;
  }

  nav ul li:last-child {
    display: block;
    
  }

  /* Banner becomes vertical */
  .banner {
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }

  .banner-left h2 {
    font-size: 24px;
  }

  .banner-left p {
    font-size: 14px;
  }

  .banner-right {
    order: -1; /* image goes to top */
  }

  .banner-right img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .sell-section {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    padding: 10px;
  }

  .product-card img {
    max-width: 100%; 
  }

  .add-to-cart {
    width: 100%; 
  }

}

